<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <search>
                <eindexer_host>localhost</eindexer_host>
                <eindexer_port>9200</eindexer_port>
            </search>
        </catalog>      
    </default>
</config>
